<div class="details">
<app-form (addQuote)="formReceive($event)"></app-form>
<div *ngFor="let Quotes of quote;let i = index">
<p>Written by: {{Quotes.name}}<br>{{Quotes.quotes}} <br>Author: {{Quotes.author}} <br>submitted on {{Quotes.completeDate|date}}</p>

<hr>
<div class="battons">
<div>
<app-details (isComplete)='completeQuote($event,i)'></app-details>
</div>
<div>
<button (click)='addVote(i)' name="upvote">addvote</button>
<p>
{{Quotes.upvote}}</p>
</div>
<div>
<button  type="button" (click)='minusVote(i)' name="downvote">minusvote</button>
<p>{{Quotes.downvote}}</p>
</div>

</div>
</div>
